<mat-grid-list cols="1" rowHeight="12:1">
  <mat-grid-tile>
    <mat-card style="width: 80%; background-color: #0a0aff; color:white;" class="example-card">
      <mat-card-header>

        <mat-card-title>Adres:</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <p>
          Portakal Çiçeği Cad. Antalya/Lara
        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="width: 80%; background-color: #0a0aff; color:white;" class="example-card">
      <mat-card-header>

        <mat-card-title>Eposta:</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <p>
         info@kargakozmetik.com
        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="width: 80%; background-color: #0a0aff; color:white;" class="example-card">
      <mat-card-header>

        <mat-card-title>Telefon:</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <p>
         0512 234 56 78
        </p>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="1" rowHeight="3:1" style="margin-bottom: 30px;">
  <mat-grid-tile>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.565683379874!2d30.644664615635183!3d36.90073706973286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c391dc58eadec1%3A0x4eeb41b0b328ca62!2sAntalya%20Teknokent!5e0!3m2!1str!2str!4v1623871432458!5m2!1str!2str" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </mat-grid-tile>

</mat-grid-list>



