<div class="container">
  <h1>Ürün Bilgisi</h1>

  <h3>
    <button mat-stroked-button color="primary" (click)="Duzenle(secUrun)">Düzenle</button>
    &nbsp;
    <button mat-stroked-button color="warn" (click)="Sil(secUrun)">Sil</button>
  </h3>

  <h3><img [src]="apiServis.siteUrl + '/Dosyalar/' + secUrun?.UrunFoto" style="width: 300px"/></h3>
  <h3><b>Ürün Id : </b>{{ secUrun?.UrunId }}</h3>
  <h3><b>Ürün Kodu : </b>{{ secUrun?.UrunKodu }}</h3>
  <h3><b>Ürün Adı : </b>{{ secUrun?.UrunAdi }}</h3>
  <h3><b>Ürün Stok : </b>{{ secUrun?.UrunAdet }}</h3>
  <h3><b>Ürün Satış Fiyatı : </b>{{ secUrun?.UrunFiyat }}</h3>
  <h3><b>Ürün Marka Id : </b>{{ secUrun?.UrunMarkaId }}</h3>
  <h3><b>Ürün Kategori Id : </b>{{ secUrun?.UrunKategoriId }}</h3>


  <p>&nbsp;</p>

  <button mat-stroked-button color="primary" [routerLink]="['/admin/urunler']">Geri</button>
</div>

